@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.jumbotron {
    color: white;
    background-image: url("https://lenjellen.netlify.app/static/media/banner.dc404930.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

a {
    text-decoration: none;
}